# {{ansible_managed}}

[Unit]
Description=Apache Kafka service
After=network.target

[Service]
Type=forking
User=kafka
Group=kafka
EnvironmentFile={{kafka_config_dir}}/kafka.cfg
ExecStart={{kafka_dir}}/bin/kafka-server-start.sh -daemon {{kafka_config_dir}}/server.properties
ExecStop={{kafka_dir}}/bin/kafka-server-stop.sh
ExecReload=
Restart=always

